.transition__link {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.transition__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.transition__image {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.transition__image:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.transition__button {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.transition__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
